/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Raleway');
@import '~bootstrap/dist/css/bootstrap.min.css';

body{
    background:white;
    padding: 3em;
    font-family: 'Raleway', 'Arial';
    color: #2c2c2c;

    ul{
        list-style-type: none;
        margin: 0 0 2em 0;
        padding: 0;
    }

    ul li{

        margin-right: 30px;
    }

    ul li a{
        font-size: 1.5em;
    }

    a{
        color: #fff;
        text-decoration: none;
        cursor: pointer;
    }
    .subnav{
        margin-top: 50px;
    }

     .is-active {
        color : #e48eff   !important;
        background-color:none;
      }
}