.container{
    display: grid;
    grid-template-columns: 50% auto;
}

.col{
    padding: .4em 1.3em;
}

.color-dark{
    background: #8f9da0;
  
}

.color-light{
background: #E48EFF;
padding-top: 5px;
}

.life-container{
    background-color: white;
    color: #2c2c2c;
    padding: 5px;
  
}

input.txt{
    border: 0;
    padding: 1em;
    width: 80%;
    margin-bottom: 5px;
}

input.btn{
    border: 0;
    display: block;
  
    cursor: pointer;
    color: white;
    background-color: #8f9da0;
}

.delete-goal{
    float: right;
    margin-right: 10px;
    cursor: pointer;
}